#mxContainer {
  border: 1px solid black;
}

#simulator {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ebebeb;
}

.fullScreen {
  width: 100%;
  height: 100%;
}

#stepsInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#simulationInfo {
  display: flex;
  align-items: center;
  font-size: medium;
  margin: 8px;
}

#controlMenu {
  display: flex;
  flex-direction: column; 
  align-content: center;
  justify-content: center;
}

#title {
  margin: 4px;
  font-size: 30px;
}

.controlButton {
  border: none;
  text-decoration: none;
  color: blue;
  font-size: 25px;
  background-color: transparent;
  text-align: center;
  padding: 4px;
}

#simulatorScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  background-color:#ebebeb;
}

.controlButton:hover {
  color: red;
  opacity: 1;
}

.controlButton:disabled {
  color: gray;
}

.controlButton.reset {
  font-size: 20px;
}

.controlButton.live {
  font-size: 20px;
}

.mxTooltip {
  position: absolute;
  background-color: #f6f4f4;
}

.speed {
  width: 200px;
  transform: scale(0.7);
}
